html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
 }

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

.payoutWrap {
  display: flex;
  margin-top: 2rem;
  /* width: 70%;
  height: 5rem; */
}
.tableTitle {
  margin-left: 2rem;
  color: #2A2A2A;
  font-size: 1.5rem;
}
.searchWrap {
  display: flex;
  justify-content: space-between;
  border: 1px solid #f0f0f0;
  width: 300px;
  height: 32px;
  align-items: center;
  margin-left: 15.8rem;
  padding: .5rem;
  margin-right: 2rem;
  border-radius: 4px;

}
.icon {
  width: 1rem;
  height: 1rem;
  
}

.calendarWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #f0f0f0;
  width: 300px;
  height: 32px;
  margin-right: 2rem;
  padding: .5rem;
  border-radius: 4px;

}
input:focus {
  outline: none;
  border: none;
}

input {
  border: none;
  outline: none;
}
button {
  width: 104px;
  height: 50px;
  background: #3D8F83;
  color: white;
  border-radius: 4px;
  border: none;
  outline: none;
}
Table {
  margin: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
 
}

Table td,
Table th {
  padding: 6px;
  margin-top: 2rem;
  
}

Table tr:nth-child(even) {
  background-color: #f2f2f2;
  margin-top: 2rem;
 
}

Table tr:hover {
  background-color: #ddd;
 
}

 tr {
  border-bottom: 1px solid lightgray;
  
 }
Table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f0f0f0;
  color: #2a2a2a;
}
.ButtoN {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 60px;
  color: #2C665D;
  align-items: center;
  border: 1px solid #f0f0f0;
  outline: none;
  font-size: 18px;
  margin-left: 2rem;
  
}